# Aliases and functions ( common to all servers)

alias p='cd ~/work/torchcap'
alias sq='cd ~/work/seq2seq'
alias c='clear'
alias vi=nvim
alias ggp='git pull origin master'
alias chr='google-chrome-stable'
alias src='source ~/.zshrc'
alias whereami='echo $HOST$HOSTNAME'
alias l='ls -atrlh'
alias clear_swap='rm ~/.local/share/nvim/swap/*'
alias cf="cd ~/.config"

# Zip folder
zipf () { zip -r "$1".zip "$1" ; }
zssh () { ssh -Y "$1" -t zsh }
lssh () {ssh elbayadm@"$1".ligone -t zsh}
cd() { builtin cd "$@"; ls; }  # Always list directory contents upon 'cd'
ccd() { builtin cd }
alias ggc="gaa && git commit -m ':up: auto' && git push origin master"
alias ggcu="git add -u && git commit -m ':up: auto' && git push origin master"
ggcm(){
   gaa
   git commit -m $1
   git push origin master
   }

cpf() {cp $1 "fncnn6_reset_"$1}
trim(){
    convert $1 -flatten -fuzz 1% -trim +repage $2
}
transparent(){
    convert $1 -transparent white $2
}

extract () {
    if [ -f $1 ] ; then
      case $1 in
        *.tar.bz2)   tar xjf $1     ;;
        *.tar.gz)    tar xzf $1     ;;
        *.bz2)       bunzip2 $1     ;;
        *.rar)       unrar e $1     ;;
        *.gz)        gunzip $1      ;;
        *.tar)       tar xf $1      ;;
        *.tbz2)      tar xjf $1     ;;
        *.tgz)       tar xzf $1     ;;
        *.zip)       unzip $1       ;;
        *.Z)         uncompress $1  ;;
        *.7z)        7z x $1        ;;
        *)     echo "'$1' cannot be extracted via extract()" ;;
         esac
     else
         echo "'$1' is not a valid file"
     fi
}
clear_paths(){
    unset PATH
    unset LIBRARY_PATH
    unset LD_LIBRARY_PATH
    unset C_INCLUDE_PATH
    unset CPLUS_INCLUDE_PATH
}


