module unload cudnn cuda NCCL

# module load anaconda3/5.0.1 cuda/10.0 cudnn/v7.4-cuda.10.0 NCCL/2.4.2-1-cuda.10.0
# source activate fairseq-fp16-20190211

module load anaconda3/5.0.1 cuda/9.2 cudnn/v7.3-cuda.9.2 NCCL/2.2.13-1-cuda.9.2
source activate fairseq-fp16-20181210 


#module load anaconda3/5.0.1 cuda/10.0 cudnn/v7.4-cuda.10.0 NCCL/2.4.2-1-cuda.10.0
#source activate fairseq-fp16-20190427



export NCCL_DEBUG=INFO
#export NCCL_SOCKET_IFNAME=^docker0
export NCCL_SOCKET_IFNAME=^docker0,lo
