export TORCH_HOME="/home/thoth/melbayad/scratch/.torch"
alias tle="cd /home/thoth/tlucas/image_attention/new_imcap/imcap"
alias oar='python ~/bin/oarstat.py -me'
function  sshoar () {
   OAR_JOB_ID=67632 oarsh $1
}


function setcuda81_noalgorab() {
  export CUDA="/scratch/aquarius/tlucas/Libs/cuda8RCpatched"
  export CUDA_libs="$CUDA/lib64"
  export CUDA_bin="$CUDA/bin"
  export LD_LIBRARY_PATH="$CUDA_libs:$LD_LIBRARY_PATH"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDA/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDA/include"
  export PATH="$CUDA_bin:$PATH"
}

function setcudnn51_noalgorab () {
  #export CUDNN_ROOT="/scratch/algorab/mdvornik/Libs/cudnn_5.1/cuda"
  export CUDNN_ROOT="/scratch/aquarius/tlucas/Libs/cudnn_5.1/cuda"
  export CUDNN_LIB_DIR=$CUDNN_ROOT"/lib64"
  export CUDNN_INCLUDE_DIR=$CUDNN_ROOT"/include"
  export LD_LIBRARY_PATH="$CUDNN_ROOT/lib64:$LD_LIBRARY_PATH"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDNN_ROOT/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDNN_ROOT/include"
  export LIBRARY_PATH="$CUDNN_ROOT/lib64:$LIBRARY_PATH"
}


# Cudnn 5.1 @dvornik
function setcudnn51_dvornik () {
  export CUDNN_ROOT="/scratch/algorab/mdvornik/Libs/cudnn_5.1/cuda"
  export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$CUDNN_ROOT/lib64"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDNN_ROOT/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDNN_ROOT/include"
  export LIBRARY_PATH="$LIBRARY_PATH:$CUDNN_ROOT/lib64"
}

# cuda 8.1 (8 with patch for gcc 5 compatibility). @tlucas
function setcuda81 () {
  export CUDA="/scratch/algorab/tlucas/src/cuda8RCpatched"
  export CUDA_libs="$CUDA/lib64"
  export CUDA_bin="$CUDA/bin"
  export LD_LIBRARY_PATH="$CUDA_libs:$LD_LIBRARY_PATH"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDA/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDA/include"
  export PATH="$CUDA_bin:$PATH"
}

# cuda 8.0
function setcuda80 () {
	export CUDA="/home/thoth/melbayad/scratch/tools/cuda80"
  	export CUDA_libs="$CUDA/lib64"
  	export CUDA_bin="$CUDA/bin"
    export LD_LIBRARY_PATH="$CUDA_libs:$LD_LIBRARY_PATH"
  	export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDA/include"
  	export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDA/include"
  	export PATH="$CUDA_bin:$PATH"
}

# Cudnn 5.1
function setcudnn51 () {
  export CUDNN_ROOT="/home/thoth/melbayad/scratch/tools/cudnn51"
  export CUDNN_LIB_DIR=$CUDNN_ROOT"/lib64"
  export CUDNN_INCLUDE_DIR=$CUDNN_ROOT"/include"
  export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$CUDNN_ROOT/lib64"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDNN_ROOT/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDNN_ROOT/include"
  export LIBRARY_PATH="$LIBRARY_PATH:$CUDNN_ROOT/lib64"
}

# Cudnn 5
function setcudnn50 () {
  export CUDNN_ROOT="/home/lear/kshmelko/scratch/libs/cudnn5"
  export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$CUDNN_ROOT/lib64"
  export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$CUDNN_ROOT/include"
  export C_INCLUDE_PATH="$C_INCLUDE_PATH:$CUDNN_ROOT/include"
  export LIBRARY_PATH="$LIBRARY_PATH:$CUDNN_ROOT/lib64"
}
# Set envrionment for using imcap Code. uenv is a python virtual environment with the right software installed.
function setg(){ 
  	echo "Setting cuda 8.1, cudnn 5.0 and sourcing ubuntu virtual environment."
	setcuda80
	setcudnn51
}
alias sg="ssh edgar -t oarsub -I -l \"\\\"walltime=10:0:0\\\"\" -d $(pwd) -p \"\\\"gpumem>6000\\\"\""
alias ssg="oarsub -I -l walltime=10:0:0 -d $(pwd) -p gpumem>6000"

# alias sg="ssh edgar -t oarsub -I -d $(pwd) -p \"\\\"gpumodel='gtx980'\\\"\""
alias lg="ssh edgar -t oarsub -I -l \"\\\"walltime=10:0:0\\\"\" -d $(pwd) -p \"\\\"gpumodel='titan_x' or gpumodel='titan_x_pascal'\\\"\""


# alias lg="ssh edgar -t oarsub -I -l \"\\\"walltime=10:0:0\\\"\" -d $(pwd) -p \"\\\"gpumem>10000\\\"\""
